<mat-sidenav-container class="explore-sn-container" hasBackdrop="false">
  <mat-sidenav #sidenav mode="side" opened="false">
    <!-- LEFT MENU
    <p>Home</p> -->
  </mat-sidenav>

  <mat-sidenav-content class="explore-sn-content">

    <mat-card>
      <mat-card-header>
        <mat-card-title>Try it!</mat-card-title>
        <mat-card-subtitle>Paste your code below:</mat-card-subtitle>
      </mat-card-header>
      <mat-card-content>
    <!-- ACE CODE EDITOR -->
        <div #userInput style="height: 30em"></div>
      </mat-card-content>
    </mat-card>

  </mat-sidenav-content>
</mat-sidenav-container>
<!-- <div>
  RIGHT PANEL
  <p>Extra Stuff!</p>
</div> -->
