
:host {
  padding: 0em;
  min-width: 650px;
  // display: flex; // flex breaks ace for some reason :(
}

table {
  width: 90%;
  margin: auto;
}

tr.mat-header-row
{
  height: 36px;
}

// table > ::ng-deep thead {
//   display: none;
// }

.home-sn-container
{
  padding: 2em 0em 2em 0em;
  place-content: center;
  background: #f1f1f1;
  font-size: 100%;
  line-height: 1;
  font: inherit;
  vertical-align: baseline;
}

.home-sn-content
{
  //padding: 0em 2em 0em 2em;
  max-width: 800px;
}

.mat-sidenav
{
  width: 150px;
  background: #d4d4d4;
  padding: 2em;
}