<mat-sidenav-container>
  <mat-sidenav #sidenav mode="side" opened="false"><!-- L-MENU --></mat-sidenav>
  <mat-sidenav-content>

    <mat-card [class.mat-elevation-z0]="1" style="margin-bottom: 0;"> <!-- Team picture and Title -->
      <mat-card-title style="display: flex;justify-content: center; font-size: 2.5em;">The Angha Team</mat-card-title>
    </mat-card>

    <div class="img-grid">
      <mat-card class="chart-img" *ngFor="let _ of members">
        <img mat-card-image class="bg-image" [src]="'assets/img/team/'+_.id+'.jpg'" alt="{{_.name}}'s Picture">
        <mat-card-title style="display: flex; justify-content: space-between;">
          <div>{{ _.name }}</div>
          <span style="display: flex; justify-content: space-between;">
            <a class="noLinkColor" *ngIf="_.meta.www" [href]="_.meta.www" target="_blank" [style.paddingLeft]="'0.2em'"><mat-icon>language</mat-icon></a>
            <a class="noLinkColor" *ngIf="_.meta.gitHubUrl" [href]="_.meta.gitHubUrl" target="_blank" [style.paddingLeft]="'0.2em'"><fa-icon [icon]="faGithub"></fa-icon></a>
            <a class="noLinkColor" *ngIf="_.meta.lattesUrl" [href]="_.meta.lattesUrl" target="_blank" [style.paddingLeft]="'0.2em'"><fa-icon [icon]="faAddressCard"></fa-icon></a>
          </span>
        </mat-card-title>
        <mat-card-content><p>{{ _.body }}</p></mat-card-content>
      </mat-card>
    </div>

  </mat-sidenav-content>
</mat-sidenav-container>
