
@import '~@angular/material/theming';
@import '../styles/angha-theme.scss';

#div-header
{
  display: flex;
  vertical-align: middle;
  padding: 16px 0px 8px 32px;
  color: mat-color($mlk-lgrey);
  background: mat-color($mlk-dgrey, darker);
  line-height: 1;
}

#img-header-logo
{
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
  width: 96px;
}

.card-app-wrapper
{
  padding: 0;
  height: 100%;
}

h1
{
  font-size: 2em;
  padding-top: 24px;
  padding-left: 24px;
  //padding-left: 48px
}

#nav-main
{
  padding-left: 150px;
  background: mat-color($mlk-dgrey);
}

.mat-tab-link
{
  color: mat-color($mlk-lgrey, lighter);
}