
<mat-card class="card-app-wrapper" [class.darkTheme]="darkTheme" [class.lightTheme]="lightTheme">

    <div id="div-header">
      <img id="img-header-logo" src="assets/angha_logo.png" (click)="toggleTheme()">
      <h1>The Angha Project</h1>
      <mat-slide-toggle [color]="'warn'"></mat-slide-toggle>
    </div>

    <!-- <nav mat-tab-nav-bar id="nav-main" [color]="colorToggle.value" [backgroundColor]="'accent'"> -->
    <nav mat-tab-nav-bar id="nav-main" [color]="'accent'" dynamicHeight> <!-- A.K.A. The Mothership -->
      <a mat-tab-link routerLink="/home" routerLinkActive #homeAct="routerLinkActive" [active]="homeAct.isActive">Home</a>
      <a mat-tab-link routerLink="/benchmarks" routerLinkActive #benchmarksAct="routerLinkActive" [active]="benchmarksAct.isActive">Benchmarks</a>
      <a mat-tab-link routerLink="/explore" routerLinkActive #exploreAct="routerLinkActive" [active]="exploreAct.isActive">Explore</a>
    </nav>

  
  <router-outlet></router-outlet> <!-- Content of tabs is displayed here -->
    
</mat-card>

