



<mat-card class="card-app-wrapper" [class]="lightTheme ? 'lightTheme' : 'darkTheme'">

    <div id="div-header">
      <img id="img-header-logo" src="assets/angha_logo.png">
      <h1>The Angha Project</h1>
    </div>

    <nav mat-tab-nav-bar id="nav-main" [color]="'accent'"> <!-- A.K.A. The Mothership -->

      <a mat-tab-link
         routerLink="/home"
         routerLinkActive
         #homeAct="routerLinkActive"
         [active]="homeAct.isActive">
        Home
      </a>

      <a #jj="matMenuTrigger"
         [matMenuTriggerFor]="resourceMenu"
         mat-tab-link
         [active]="benchmarksAct.isActive || crawlerAct.isActive || extractorAct.isActive">
       Resources
     </a>
      <mat-menu #resourceMenu="matMenu">
        <div>
          <a mat-menu-item
             routerLink="/benchmarks"
             routerLinkActive
             #benchmarksAct="routerLinkActive">
            Benchmarks
          </a>

          <a mat-menu-item
             routerLink="/crawler"
             routerLinkActive
             (focus)="fart()"
             #crawlerAct="routerLinkActive">
            Crawler
          </a>

          <a mat-menu-item
             href="https://github.com/ltcmelo/psychec/tree/d4eeadb461d7173008ac17950ae8203a93c04fab"
             target="_blank" rel="noreferrer noopener" style="display: flex">
            Reconstructor <span class="spacer"></span><mat-icon style="font-size: 16px; margin: auto;">open_in_new</mat-icon>
          </a>

          <a mat-menu-item
             disabled="true"
             routerLink="/extractor"
             routerLinkActive
             #extractorAct="routerLinkActive">
            Function Extractor
          </a>

          <a mat-menu-item
             disabled="true">
            Feature Extractor
          </a>

          <a mat-menu-item
             disabled="true">
            Autotuning
          </a>

        </div>
      </mat-menu>

      <a mat-tab-link
         routerLink="/explore"
         routerLinkActive
         #exploreAct="routerLinkActive"
         [active]="exploreAct.isActive">
        Explore
      </a>

      <a mat-tab-link
         [disabled]="true"
         routerLink="/about"
         routerLinkActive
         #aboutAct="routerLinkActive"
         [active]="aboutAct.isActive">
        About
      </a>

    </nav>
  
  <router-outlet></router-outlet> <!-- Content of tabs is displayed here -->
    
</mat-card>
<mat-slide-toggle id="themeToggle" [checked]="'lightTheme'" [color]="'warn'" (change)="toggleTheme()"></mat-slide-toggle>