
// ============================ Material Theming ============================ //
@import '~@angular/material/theming';
@import 'styles/angha-theme.scss';
@include mat-core();

// Predefined color palettes: https://material.io/design/color/

.lightTheme {
  @include angular-material-theme($mlk-light-theme);
  $background: map-get($mlk-light-theme, background);
  background-color: mat-color($background, background);
}
.darkTheme  {
  @include angular-material-theme($mlk-dark-theme);
  $background: map-get($mlk-dark-theme, background);
  background-color: mat-color($background, background);
}


// =============================== Typography =============================== //
@import url('https://fonts.googleapis.com/css?family=Ubuntu+Mono&display=swap');
@import url('https://fonts.googleapis.com/css?family=Roboto+Mono&display=swap');
@import url('https://fonts.googleapis.com/css?family=Inconsolata&display=swap');
@import url('https://fonts.googleapis.com/css?family=Source+Code+Pro&display=swap');

*
{
  font-family: 'Roboto', sans-serif;
  //font-family: 'Ubuntu Mono', 'Source Code Pro', 'Roboto Mono', 'Inconsolata', monospace;
}

html,
body
{
  margin: 0;
  height: 100%;
}

p
{
  font-size: 16px;
  text-align: justify;
  padding-right: 3px;
}


// ============================== Header Align ============================== //
h1,h2,h3,h4,h5,h6
{
  align-self: center;
}


// ============================== Left Nav Bar ============================== //
mat-sidenav-container
{
  padding: 2em 0em 2em 0em;
  place-content: center;
  font-size: 100%;
  line-height: 1;
}

mat-sidenav-content
{
  padding-left: 2em;
  padding-right: 2em;
  max-width: 800px;
  margin-left: 150px;
}

mat-sidenav
{
  width: 150px;
  padding: 2em;
}

mat-sidenav-content.vrule
{
  border-right: 1px dotted #5d5d5d;
}