
// ============================ Material Theming ============================ //
@import '~@angular/material/theming';
@import 'styles/angha-theme.scss';
@include mat-core();

// Predefined color palettes: https://material.io/design/color/


// =============================== Typography =============================== //
@import url('https://fonts.googleapis.com/css?family=Ubuntu+Mono&display=swap');
@import url('https://fonts.googleapis.com/css?family=Roboto+Mono&display=swap');
@import url('https://fonts.googleapis.com/css?family=Inconsolata&display=swap');
@import url('https://fonts.googleapis.com/css?family=Source+Code+Pro&display=swap');

*
{
  font-family: 'Roboto', sans-serif;
  //font-family: 'Ubuntu Mono', 'Source Code Pro', 'Roboto Mono', 'Inconsolata', monospace;
}

html,
body
{
  margin: 0;
  height: 100%;
  overflow-y: auto;
}

p
{
  padding-right: 3px;
  margin-bottom: 16px;
}

@media(min-width: 1010px)
{
  p
  {
    font-size: 16px;
    text-align: justify;
  }
}


// ============================== Header Align ============================== //
h1,h2,h3,h4,h5,h6
{
  align-self: center;
}


// ============================== Left Nav Bar ============================== //

mat-sidenav-container
{
  line-height: 1;
  width: 100%;
  height: auto;
}

mat-sidenav-content
{
  padding: 1em 2em 1em 2em;
  max-width: 800px;
}

@media (min-width: 1010px)
{
  mat-sidenav-content
  {
    margin-left: 150px;
  }
  // mat-sidenav
  // {
  //   width: 150px;
  //   padding: 2em;
  // }
}

mat-sidenav-content.vrule
{
  border-right: 1px dotted #5d5d5d;
}

// mat-sidenav
// {
//   width: 150px;
//   padding: 2em;
// }


// ============================== Cards ============================== //
mat-card
{
  margin-bottom: 1em;
}

// ============================== Slide Toggle ============================== //
mat-slide-toggle
{
  z-index: 2;
}

// ================================== Misc ================================== //
span.spacer
{
  width: stretch;
}

.chart-img
{
  justify-self: center;
  width: auto;
  max-width: 95%;
}

.img-grid
{
  padding-top: 1.3em;
  display: grid;
  grid-auto-flow: row;
  grid-row-gap: 2em;
}

@media (min-width: 768px)
{
  .chart-img
  {
    justfy-self: center;
    max-width: 100%;
  }
  .img-grid
  {
    grid-gap: 1em;
    display: grid;
    grid-template-columns: auto auto;
  }
}

.lightTheme
{
  @include angular-material-theme($mlk-light-theme);
}
.darkTheme
{
  @include angular-material-theme($mlk-dark-theme);
}

// .mat-app-background
// {
//   $background: map-get($mlk-dark-theme, background);
//   background-color: mat-color($background, background);
// }