<mat-sidenav-container>
  <mat-sidenav #sidenav mode="side" opened="false"><!-- L-MENU --></mat-sidenav>
  <mat-sidenav-content>

    <mat-card>
      <mat-card-title>Introduction</mat-card-title>
      <mat-card-content>
        <p>
          The goal of the Angha Project is to generate C benchmarks out of open
          source repositories. To this end, we download programs from these
          repositories, split them into individual functions and reconstruct
          missing declarations to ensure that they compile. This page contains
          530K samples of programs that we have generated in this way. You can
          compile them all into object files using clang or gcc. Additionally,
          we provide all the machinery for those interested in producing
          more benchmarks. For comparison, we also provide actual C benchmarks,
          and synthetic programs produced by various benchmark generators. We
          have extracted feature vectors (59 different features) for all these
          benchmarks, in case the interested reader wants to use them to
          autotune compilers. The passes used in the extraction are:
        </p>

        <span class="code-container"><div [appCodeBlock]="optFlags"></div></span>

        <p>
          We provide charts relating different characteristics of the
          benchmarks available in this page. Inside each collection featured
          on the "Available Benchmarks" section, click the 'data analysis'
          link to have access to them. These charts show relations between
          the following program features:
        </p>

<!-- ===================== Table with feature examples ===================== -->
        <table mat-table [dataSource]="dataSource" matSort class="mat-elevation-z2">
          <ng-container matColumnDef="name">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Name </th>
            <td mat-cell *matCellDef="let _"> {{_.name}} </td>
          </ng-container>

          <ng-container matColumnDef="descHTML">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Description </th>
            <td mat-cell *matCellDef="let _" style="padding-left: 1em;" [innerHTML]="_.descHTML"> </td>
          </ng-container>

          <tr mat-header-row *matHeaderRowDef="cols; sticky: true"></tr>
          <tr mat-row *matRowDef="let _; columns: cols;"></tr>
        </table>
<!-- ======================== End of examples table ======================== -->

      </mat-card-content>
    </mat-card>

  </mat-sidenav-content>
</mat-sidenav-container>