@import '../../styles.scss';

:host {
  padding: 0em;
  min-width: 650px;
  display: flex;
  font-size: 16px;
}

table {
  width: 90%;
  margin: auto;
}

tr.mat-header-row
{
  height: 36px;
}

p
{
  color: mat-color($mlk-red);
}